[submodule "source/service.mergerfs"]
	path = source/service.mergerfs
	url = git@github.com:Josh5/kodi.service.mergerfs.git
[submodule "source/docker.josh5.unmanic"]
	path = source/docker.josh5.unmanic
	url = git@github.com:Josh5/docker.josh5.unmanic.git
